.auth-login-page {
  padding-top: 24px;
  padding-bottom: 24px;

  .alp-title {
    text-align: center;
    font-weight: 500;
    margin-bottom: 32px;
  }

  .alp-form {
    .alpf-fields {
      gap: 16px;
      margin-bottom: 32px;
    }

    .alpf-actions {
      gap: 16px;

      .alpfa-top {
        gap: 8px;
      }

      .alpfa-divider {
        color: var(--mui-palette-text-secondary);
      }
    }
  }
}
