.auth-register {
  padding-top: 24px;
  padding-bottom: 24px;

  .ar-title {
    text-align: center;
    font-weight: 500;
    margin-bottom: 32px;
  }

  .ar-form {
    .arf-fields {
      gap: 16px;
      margin-bottom: 32px;
    }

    .arf-actions {
      gap: 8px;
    }
  }
}
