{
  "$schema": "http://json.schemastore.org/prettierrc",
  "semi": false,
  "singleQuote": false,
  "bracketSameLine": true,
  "vueIndentScriptAndStyle": true,
  "trailingComma": "none",
  "printWidth": 120,
  "quoteProps": "consistent"
}
