.listing-card {
  display: flex;
  flex-direction: row;
  min-width: 256px;
  max-width: 256px;

  .lc-action {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .lca-image {
      height: 160px;
    }

    .lcac-information {
      flex-direction: row;
      align-items: center;
      gap: 8px;

      .lcaci-text {
        color: var(--mui-palette-text-secondary);

        &::first-letter {
          text-transform: uppercase;
        }
      }
    }
  }

  .lc-editable {
    align-items: flex-start;
  }

  &.full-width {
    min-width: 100%;
    max-width: 100%;
  }

  &.row {
    height: 120px;

    .lc-action {
      flex-direction: row;

      .lca-image {
        width: 96px;
        height: 100%;
      }
    }
  }
}
