.profile-phone-page {
  padding-top: 24px;
  padding-bottom: 24px;

  .ppp-introduction {
    margin-bottom: 32px;

    .pppi-title {
      font-weight: 500;
      text-align: center;
    }

    .pppi-caption {
      text-align: center;
      color: var(--mui-palette-text-secondary);
    }
  }

  .ppp-stepper {
    .ppps-step {
      .pppss-content {
        .pppssc-form {
          padding-top: 16px;

          .pppsscf-field {
            margin-bottom: 32px;
          }

          .pppsscf-actions {
            flex-direction: row;
            gap: 16px;
            justify-content: flex-end;
          }
        }
      }
    }
  }

  .ppp-alert {
    margin-top: 24px;
  }
}
