.home-page {
  .hp-wrapper {
    .hpw-container {
      padding-top: 24px;
      padding-bottom: 24px;
    }

    .hpw-carousel {
      flex-direction: row;
      overflow-x: auto;
      gap: 16px;
    }
  }

  .hp-search {
    background-color: var(--mui-palette-primary-main);
    color: var(--mui-palette-common-white);

    .hps-container {
      .hpsc-header {
        margin-bottom: 16px;
      }
    }
  }
}
