.home-page {
  .hp-section {
    padding-top: 32px;
    padding-bottom: 32px;

    .hps-carousel {
      flex-direction: row;
      overflow-x: auto;
      gap: 16px;
    }
  }

  .hp-search {
    background-color: var(--mui-palette-primary-main);
    color: var(--mui-palette-common-white);

    .hps-header {
      margin-bottom: 16px;
    }

    .hps-card {
      .hpsc-form {
        padding: 16px 16px 24px 16px;

        .hpscf-title {
          margin-bottom: 16px;
        }

        .hpscf-field {
          margin-bottom: 32px;
        }
      }
    }
  }
}
