.maplibregl-map {
  height: 256px !important;
  border-radius: 4px;

  .maplibregl-control-container {
    .maplibregl-ctrl-bottom-right {
      .maplibregl-ctrl-attrib {
        display: none;
      }
    }
  }
}
