.search-page {
  .sp-wrapper {
    .spw-container {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }

  .sp-search {
    background-color: var(--mui-palette-primary-main);

    .sps-container {
      .spsc-card {
        .spscc-content {
          .spsccc-title {
            margin-bottom: 16px;
          }

          .spsccc-form {
            .spscccf-field {
              margin-bottom: 32px;
            }
          }
        }
      }
    }
  }
}
