.search-page {
  .sp-wrapper {
    .spw-container {
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }

  .sp-search {
    background-color: var(--mui-palette-primary-main);
  }

  .sp-results {
    .spr-container {
      .sprc-exception {
        .sprce-title {
          color: var(--mui-palette-text-secondary);
        }
      }

      .sprc-list {
        gap: 16px;
      }
    }
  }
}
