.listing-rating {
  gap: 16px;
  align-items: center;

  .lr-feedback {
    flex-direction: row;
    width: 100%;
    gap: 32px;

    .lrf-distribution {
      width: 100%;
      gap: 8px;
    }

    .lrf-details {
      align-items: center;

      .lrfd-title {
        line-height: 1;
      }

      .lrfd-rating {
        color: var(--mui-palette-rating);
      }

      .lrfd-total {
        color: var(--mui-palette-text-secondary);
      }
    }
  }

  .lr-actions {
    width: 100%;

    .lra-helper {
      color: var(--mui-palette-action-disabled);
      line-height: 2;
      text-align: center;
    }
  }
}

.listing-rating-dialog {
  .lrd-title {
    text-align: center;
  }

  .lrd-content {
    .lrdc-rating {
      color: var(--mui-palette-rating);
    }
  }

  .lrd-actions {
    justify-content: center;
  }
}
