.listing-page {
  .lp-section {
    padding-bottom: 24px;
    padding-top: 24px;

    .lps-container {
      gap: 16px;
    }

    .lps-hero {
      .lpsh-header {
        .lpshh-headline {
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          .lpshhh-condition {
            color: var(--mui-palette-text-secondary);
            line-height: 1;
          }

          .lpshhh-rating {
            flex-direction: row;
            align-items: center;
            gap: 4px;

            .lpshhhr-text {
              color: var(--mui-palette-text-secondary);
              line-height: 1;
            }
          }
        }
      }

      .lpsh-carousel {
        overflow-x: auto;
        flex-direction: row;
        height: 224px;
        gap: 16px;

        .lpshc-image {
          object-fit: cover;
          border-radius: 4px;
          min-width: 100%;
          max-width: 100%;
        }
      }

      .lpsh-information {
        line-height: 1.25;
      }

      .lpsh-date {
        margin-left: 2px;
        font-weight: 400;
        color: var(--mui-palette-text-secondary);
      }
    }

    .lps-description {
      .lpsd-content {
        white-space: pre-wrap;

        &.disabled {
          color: var(--mui-palette-text-secondary);
        }
      }
    }

    .lps-location {
      .lpsl-helper-text {
        color: var(--mui-palette-text-secondary);
      }
    }

    .lps-owner {
      .lpso-wrapper {
        flex-direction: row;
        gap: 16px;
        align-items: center;

        .lpsow-avatar {
          min-height: 48px;
          min-width: 48px;
          max-height: 48px;
          max-width: 48px;
        }

        .lpsow-text {
          width: 100%;

          .lpsowt-name {
            font-weight: 500;
          }
        }
      }
    }
  }
}
