.listing-page {
  .lp-section {
    padding-bottom: 32px;
    padding-top: 32px;

    .lps-container {
      gap: 16px;
    }

    .lps-hero {
      .lpsh-header {
        .lpshh-condition {
          color: var(--mui-palette-text-secondary);
        }
      }

      .lpsh-carousel {
        overflow-x: auto;
        flex-direction: row;
        height: 288px;
        gap: 16px;

        .lpshc-image {
          object-fit: cover;
          border-radius: 4px;
          min-width: 100%;
          max-width: 100%;
        }
      }

      .lpsh-information {
        .lpshi-pricing {
          .lpship-currency {
            margin-right: 6px;
          }
        }

        .lpshi-caption {
          margin-left: 2px;
          font-weight: 400;
          color: var(--mui-palette-text-secondary);
        }
      }

      .lpsh-date {
        margin-left: 2px;
        font-weight: 400;
        color: var(--mui-palette-text-secondary);
      }
    }

    .lps-description {
      .lpsd-content {
        &.disabled {
          color: var(--mui-palette-text-secondary);
        }
      }
    }

    .lps-details {
      .lpsd-table-container {
        border-radius: 4px;

        table {
          tr {
            :first-child {
              font-weight: 500;
            }

            &:nth-of-type(odd) {
              background: var(--mui-palette-action-hover);
            }

            &:last-child {
              * {
                border-bottom: 0px;
              }
            }
          }
        }
      }
    }
  }
}
